---
import siteConfig from '../data/site-config';

const alt = siteConfig?.logo?.alt;
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16">
    <div class="flex items-center gap-6">
        {/* Profile Photo */}
        <div class="relative w-16 h-16 sm:w-[90px] sm:h-[90px] shrink-0">
            <img
                src="/headshot.jpg"
                alt="Simon W. Jackson"
                class="rounded-full w-full h-full object-cover"
            />
        </div>

        <div class="flex flex-col">
            {
                siteConfig.logo && siteConfig.logo?.src ? (
                    <a href="/">
                        <img
                            src={siteConfig.logo.src}
                            alt={alt}
                            class="max-h-12"
                        />
                    </a>
                ) : (
                    <a
                        class="font-serif text-2xl leading-tight font-medium text-theme-foreground sm:text-4xl"
                        href="/"
                    >
                        {siteConfig.title}
                    </a>
                )
            }
            {siteConfig.subtitle &&
                <p class="text-sm leading-tight mt-1 text-gray-600">
                    {siteConfig.subtitle}
                </p>
            }
        </div>
    </div>
</header>
